body{
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: #ffffff;
    border-bottom: 2px solid #f0f0f0;
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 15px;
}

#logo {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    
}

#name{
    font-weight: 800;
    font-size: 1.5rem;
    letter-spacing: -1px;
}

.nav-links {
    display: flex;
    gap: 40px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    font-size: 0.95rem;
    transition: color 0.3s;
}

.nav-links a:hover {
  color: #007bff;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 80px 0;
    border-bottom: 4px solid black;
}

.hero p {
  margin: 10px 0 0 0;
  font-style: italic;
}

.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
    margin: 0;
    line-height: 1;
    font-family: "Lobster", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 50px;
}

h3 {
    margin: 0;
    line-height: 1;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h5 {
    margin: 0;
    line-height: 1;
    font-family: "Lobster", sans-serif;
    font-weight: 200;
    font-style: normal;
}

main{
    padding: -10px;
    display: flex;
    gap: 0;
}

main section {
    flex: 1;
    padding: 20px;
    border-right: 4px solid black;
    min-height: 300px;
}

main section:last-child {
    border-right: none;
}

main h3 {
    text-transform: uppercase;
    margin-top: 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    font-family: sans-serif;
}

#reviews{
    border-top: 4px solid black;
    padding: 40px 20px;
    text-align: center;
}

.teachers{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.teacher {
    flex: 1;
    background: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 15px;
    text-align: left;
}

.teacher strong {
    display: block;
    margin-top: 15px;
}

.teacher span {
    font-size: 0.8rem;
    color: #666;
}

#reviews h3 {
    text-transform: uppercase;
    margin-top: 0;
    padding-bottom: 15px;
    font-family: sans-serif;
}

#project-links{
    list-style: none;
    padding: 0;
}

#project-links li{
    border-bottom: 1px solid black;
    padding:10px 0;
}

.object{
    padding: 10px 0;
    border-bottom: 1px solid black;
}

@media (max-width: 768px) {
    
    .navbar {
        flex-direction: column;
        gap: 15px;
        padding: 20px;
    }

    .nav-links {
        gap: 20px;
    }

    main {
        flex-direction: column;
    }

    main section {
        border-right: none;
        border-bottom: 4px solid black;
    }

    .teachers {
        flex-direction: column;
    }

    .hero h1 {
        font-size: 35px;
    }
}